@charset "UTF-8";
.navBar {
  width: 100%;
  height: 85px;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 99999;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(var(--black-1), rgba(0, 0, 0, 0.7450980392));
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.navBar .logo {
  display: flex;
  align-items: center;
  flex-grow: 1.5;
  height: 100%;
}
.navBar .logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navBar .logo img {
  width: 3.5em;
  margin-right: 8px;
}
.navBar .logo span {
  font-size: 2em;
  color: var(--main-yellow);
}
.navBar ul {
  display: flex;
  flex-grow: 1;
  /* padding-right: 30px; */
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0px;
}
.navBar ul li#navActive a {
  color: var(--third-yellow);
  /* filter: brightness(50%); */
  cursor: default;
}
.navBar ul li#navActive:hover a {
  transform: scale(100%);
}
.navBar ul li a {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: var(--white-2);
  text-decoration: none;
}
.navBar ul li:hover a {
  color: var(--white-1);
  position: relative;
  transform: scale(108%);
  transition: all 0.04s linear;
}

.checkBtn {
  color: var(--white-2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin-right: 12px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

#navBlock {
  flex-direction: column;
  position: absolute;
  background: none;
}
#navBlock .logo img {
  display: none;
}
#navBlock .logo span {
  font-size: 2.5em;
  padding-top: 10px;
}
#navBlock ul {
  width: 100%;
  padding: 10px 30%;
}

@media (max-width: 980px) {
  .navBar .logo {
    flex-grow: 0.7;
  }
  #navBlock ul {
    padding: 10px 25%;
  }
}
@media (max-width: 780px) {
  #navBlock ul li {
    display: none;
  }
  #navBlock ul li:nth-child(1) {
    display: block;
  }
  #navBlock .logo span {
    font-size: 3em;
  }
  .checkBtn {
    display: block;
  }
  .navBar#navFixed {
    height: 70px;
  }
  .navBar#navFixed ul {
    position: fixed;
    top: 0;
    left: -100%;
    padding-top: 20px;
    z-index: -1;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: var(--black-2);
  }
  .navBar#navFixed .logo span {
    display: none;
  }
  #check:checked ~ #ulResponsive {
    left: 0;
    transition: all 0.3s;
  }
}
@media (max-width: 295px) {
  #navBlock .logo span {
    font-size: 2.5em;
  }
}
footer {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(transparent, var(--black-1));
  margin-top: 40px;
}
footer img {
  filter: grayscale(1) contrast(0%) brightness(120%);
  width: 4em;
  margin-bottom: 15px;
}
footer h3 {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--white-2);
}
footer ul {
  margin: 10px 0px 20px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
  min-width: 290px;
  padding: 0;
}
footer p {
  font-size: 0.8em;
  color: var(--white-2);
  font-weight: 100;
}

footer ul li a {
  text-decoration: none;
}

footer ul li.p, footer ul li a.p {
  font-size: 1em;
  color: var(--white-2);
}

footer ul li a:hover {
  transform: scale(200%);
  color: var(--main-yellow);
}

@media (max-width: 295px) {
  footer {
    height: 40vh;
  }
  footer ul {
    flex-direction: column;
  }
  footer ul li.p, footer ul footer ul li a.p {
    font-size: 0.8em;
  }
  footer ul li.separator {
    display: none;
  }
  footer ul li {
    margin: 4px 0px;
  }
}
:root {
  --main-yellow: #F5AF00;
  --sec-yellow: #DB9D00;
  --third-yellow: #755400;
  --dark-yellow: #362600;
  --black-1: #050505;
  --black-2: #0f0f0f;
  --white-1: #f5f5f5;
  --white-2: #b0b0b0;
}

@font-face {
  font-family: "monkefont";
  src: url("../src/PirataOne-Regular.woff") format("truetype");
}
body {
  background: linear-gradient(var(--black-1), var(--black-2));
  min-height: 100vh;
  color: #fff;
  font-size: 16px;
  scroll-behavior: smooth;
}

.monkefont {
  font-family: "monkefont";
  font-weight: 100;
}

.mainfont {
  font-family: "Saira Condensed", sans-serif;
}

.blackBg {
  background: var(--black-1);
}

.p {
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.5em;
  color: var(--white-1);
  font-weight: normal;
  line-height: normal;
}

.titleh1 {
  font-size: 4em;
  color: var(--main-yellow);
  font-weight: 700;
  margin: 14px;
}

.titleh2 {
  font-size: 2.5em;
  color: var(--main-yellow);
  font-weight: 700;
}

section[id] {
  scroll-margin-top: 100px;
}

.wallpaper img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  filter: brightness(80%);
}

.scrollDown {
  height: 70px;
  width: 40px;
  border: 2px solid var(--white-2);
  position: absolute;
  left: calc(50% - 20px);
  bottom: 50px;
  border-radius: 50px;
  cursor: pointer;
}

.scrollDown::before, .scrollDown::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid #fff;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  -webkit-animation: scroll-down 1s ease-in-out infinite;
          animation: scroll-down 1s ease-in-out infinite;
}

.scrollDown::after {
  top: 30%;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@-webkit-keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
#quienesSomos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#quienesSomos h1 {
  margin: 20px 0px;
}
#quienesSomos p {
  margin: 0px 15%;
  text-align: center;
}
#quienesSomos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 50%;
  margin: 20px 0px 30px 0px;
  padding: 0;
}
#quienesSomos ul li a {
  margin: 10px;
  max-width: 90px;
}
#quienesSomos ul li a img {
  border-radius: 12px;
  width: 8vw;
  max-width: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(80%);
}
#quienesSomos ul li a:hover img {
  transform: scale(105%);
  filter: brightness(100%);
  transition: all 0.3s;
}
#quienesSomos #monkeImg {
  width: 20%;
  max-width: 400px;
  min-width: 100px;
  margin: 20px 0px 0px 0px;
}

#caracteristicas {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#caracteristicas article {
  margin-bottom: 20px;
  width: 90%;
  border-radius: 30px;
  overflow: hidden;
  background: var(--black-1);
}
#caracteristicas article .bgColor {
  display: flex;
  width: 100%;
  height: 100%;
}
#caracteristicas article img {
  width: 30%;
  max-width: 300px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#caracteristicas article .caracText {
  padding: 15px 30px;
}
#caracteristicas article .caracText h2 {
  margin-bottom: 8px;
}
#caracteristicas article .caracText p a {
  color: unset;
  /* border-bottom: 2px solid var(--white-1); */
  text-decoration: underline;
  font-weight: normal;
}
#caracteristicas article .caracText p a:hover {
  color: var(--main-yellow);
  /* border-bottom: 2px solid var(--main-yellow); */
  transition: all 0.1s;
}
#caracteristicas article:nth-child(1) .bgColor {
  background: linear-gradient(transparent, rgba(59, 157, 255, 0.09));
}
#caracteristicas article:nth-child(1) .caracText h2 {
  color: rgb(12, 65, 119);
}
#caracteristicas article:nth-child(2) .bgColor {
  background: linear-gradient(transparent, rgba(185, 121, 238, 0.09));
}
#caracteristicas article:nth-child(2) .caracText h2 {
  color: rgb(117, 44, 172);
}
#caracteristicas article:nth-child(3) {
  margin-bottom: 0px;
}
#caracteristicas article:nth-child(3) .bgColor {
  background: linear-gradient(transparent, rgba(232, 69, 68, 0.09));
}
#caracteristicas article:nth-child(3) .caracText h2 {
  color: rgb(232, 69, 68);
}

.headerBanner {
  width: 100%;
  height: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/patronmnk.jpg) rgba(0, 0, 0, 0.8);
  background-size: 5.4em;
  background-position: center;
  background-blend-mode: darken;
}
.headerBanner span {
  color: var(--white-1);
  font-weight: 100;
  text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.292);
}
.headerBanner h1 {
  font-size: unset;
  font-weight: normal;
}

#tarjetasContainer {
  display: flex;
  justify-content: center;
  margin: 60px auto 40px auto;
}
#tarjetasContainer .tarjetaContacto {
  display: flex;
  align-items: center;
  background: #222;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 0px 15px;
}
#tarjetasContainer .tarjetaContacto i {
  margin-right: 20px;
  font-size: 4em;
  color: var(--white-1);
}
#tarjetasContainer .tarjetaContacto .tarjetaContactoText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white-2);
}
#tarjetasContainer .tarjetaContacto span {
  font-size: 2.5em;
}
#tarjetasContainer .tarjetaContacto p {
  font-size: 1.5em;
}
#tarjetasContainer .tarjetaContacto p a {
  text-decoration: none;
  color: unset;
}

#formContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#formContacto form {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
  margin: 0;
  padding: 0;
}
#formContacto form input {
  border: none;
  padding: 20px;
  background: rgb(20, 20, 20);
  color: var(--white-1);
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#formContacto form textarea {
  border: none;
  padding: 15px;
  background: rgb(20, 20, 20);
  color: var(--white-1);
  border-radius: 10px;
  resize: none;
  grid-column: 1/span 2;
  min-height: 40vh;
  line-height: normal;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#formContacto form input::-moz-placeholder, #formContacto form textarea::-moz-placeholder {
  color: rgb(90, 90, 90);
}
#formContacto form input:-ms-input-placeholder, #formContacto form textarea:-ms-input-placeholder {
  color: rgb(90, 90, 90);
}
#formContacto form input::placeholder, #formContacto form textarea::placeholder {
  color: rgb(90, 90, 90);
}
#formContacto form input:focus, #formContacto form textarea:focus {
  outline: none;
}
#formContacto .formBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/span 2;
  box-shadow: none;
  font-size: 1.2em;
  background-color: #222;
  cursor: pointer;
  padding: 12px;
}
#formContacto .formBtn:hover {
  background-color: #333;
  transition: all 0.2s;
}

.temasContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.temasContainer:nth-child(2) {
  margin-top: 60px;
}
.temasContainer #gridSp {
  margin-top: 10px;
  width: 70%;
  max-width: 910px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.temasContainer #gridSp iframe {
  border-radius: 12px;
  background-color: #282828;
}
.temasContainer #gridSp iframe:last-child {
  grid-column: 1/span 3;
}
.temasContainer #gridYt {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 50%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.temasContainer #gridYt #reproductor {
  grid-column: 1/span 3;
  display: block;
  position: relative;
  padding-top: 56.25%;
  border-radius: 12px;
  overflow: hidden;
}
.temasContainer #gridYt #reproductor iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.temasContainer #gridYt #reproductor iframe:first-child {
  display: block;
}
.temasContainer #gridYt #reproductor iframe:target {
  display: block;
}
.temasContainer #gridYt a {
  border-radius: 12px;
  overflow: hidden;
}
.temasContainer #gridYt a:hover > img {
  filter: brightness(30%) blur(1px);
}
.temasContainer #gridYt a:hover {
  filter: brightness(100%);
  cursor: pointer;
}
.temasContainer #gridYt a:hover:before {
  content: "REPRODUCIR";
  font-size: 20px;
  color: #fff;
  font-family: "Saira Condensed", sans-serif;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: green 2px solid;
}

#miembrosContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  gap: 10px 30px;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
#miembrosContainer .miembrosRotulo {
  grid-column: 1/5;
  margin: 50px auto 30px auto;
  width: 50%;
  max-width: 600px;
}
#miembrosContainer .miembro {
  background-image: url("../img/miembros-textura.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 2;
  width: 95%;
  border-radius: 14px;
  overflow: hidden;
  margin: 0px 0px 40px 0px;
  box-shadow: 0px 2px 17px -4px rgba(245, 175, 0, 0.2);
}
#miembrosContainer .miembro:nth-child(5) {
  box-shadow: 0px 2px 17px -4px rgba(245, 0, 0, 0.2);
  grid-row: span 2;
}
#miembrosContainer .miembro:nth-child(5) figcaption {
  color: rgb(245, 0, 0);
}
#miembrosContainer .miembro:nth-child(5) .miembroInfo {
  justify-content: flex-start;
}
#miembrosContainer .miembro:nth-child(6) {
  box-shadow: 0px 2px 17px -4px rgba(0, 89, 255, 0.2);
}
#miembrosContainer .miembro:nth-child(6) figcaption {
  color: rgb(33, 88, 189);
}
#miembrosContainer .miembro:nth-child(7) {
  box-shadow: 0px 2px 17px -4px rgba(255, 255, 255, 0.2);
}
#miembrosContainer .miembro:nth-child(8) {
  display: none;
}
#miembrosContainer .insignia {
  filter: brightness(80%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#miembrosContainer .insignia:hover > img {
  filter: brightness(30%);
}
#miembrosContainer .insignia.beatmaker:hover:after {
  content: "Beatmaker";
}
#miembrosContainer .insignia.cantante:hover:after {
  content: "Cantante";
}
#miembrosContainer .insignia.designer:hover:after {
  content: "Diseñador";
}
#miembrosContainer .insignia:after {
  font-family: "Saira Condensed", sans-serif;
  font-size: 1em;
  position: fixed;
  background: rgba(0, 0, 0, 0.534);
  padding: 5px;
  border-radius: 5px;
  outline: var(--white-1) 2px solid;
}
#miembrosContainer .redsocialBtn {
  width: 2.6em;
  height: 2.6em;
  border-radius: 10px;
  overflow: hidden;
  filter: brightness(80%);
}
#miembrosContainer .redsocialBtn:hover {
  filter: brightness(100%);
  transition: all 0.4s;
}
#miembrosContainer .redsocialBtn img {
  width: 100%;
}
#miembrosContainer .miembroPrinc figcaption {
  font-size: 2em;
  color: var(--main-yellow);
  position: relative;
  bottom: 2%;
  transform: scale(180%);
  text-shadow: 0px 0px 12px rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}
#miembrosContainer .miembroPrinc img {
  width: 100%;
}
#miembrosContainer .miembroPrinc .miembroInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0px 2em;
  margin-bottom: 25px;
  text-align: center;
  line-height: normal;
  font-size: 1.3em;
  color: #ddd;
}
#miembrosContainer .miembroPrinc .miembroInfo .redsocialBtn {
  margin-bottom: 20px;
}
#miembrosContainer .miembroPrinc .miembroInfo div {
  margin-top: 25px;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#miembrosContainer .miembroPrinc .miembroInfo div img {
  width: 3em;
  margin: 0px 12px;
}
#miembrosContainer .miembroSec {
  height: auto;
  min-height: 400px;
}
#miembrosContainer .miembroSec .imgArtista {
  height: 65%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#miembrosContainer .miembroSec .imgArtista img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
#miembrosContainer .miembroSec .miembroInfo {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 0px 2em;
  margin: 0px;
  text-align: center;
  line-height: normal;
  font-size: 1.1em;
  color: #ddd;
}
#miembrosContainer .miembroSec .miembroInfo figcaption {
  font-size: 2.5em;
  text-shadow: 0px 0px 12px rgb(0, 0, 0);
  margin: 15px 0px;
  padding: 0;
  justify-self: flex-start;
}
#miembrosContainer .miembroSec .miembroInfo div {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 12px;
}
#miembrosContainer .miembroSec .miembroInfo div .insignia, #miembrosContainer .miembroSec .miembroInfo div .redsocialBtn {
  margin: 0px 12px;
}
#miembrosContainer .miembroSec .miembroInfo img, #miembrosContainer .miembroSec .miembroInfo .redsocialBtn {
  width: 3em;
  height: 3em;
}
#miembrosContainer .p {
  grid-column: span 4;
  text-align: center;
}
#miembrosContainer #exmonkisContainer {
  grid-column: span 4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#miembrosContainer #exmonkisContainer .exmonki {
  margin: 20px 12px 12px 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: rgba(204, 204, 204, 0.082) solid 3px;
  background-image: url("../img/miembros-textura.jpg");
  background-position: center;
  border-radius: 90px 90px 10px 10px;
}
#miembrosContainer #exmonkisContainer .exmonki img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 14em;
  padding: 15px;
  filter: invert(1) brightness(80%);
}
#miembrosContainer #exmonkisContainer .exmonki span {
  font-size: 2em;
  margin-top: 25px;
  color: #fff;
  filter: brightness(80%);
}

@media (max-width: 1020px) {
  /* inicia responsive temas */
  .temasContainer #gridSp {
    width: 80%;
  }
  .temasContainer #gridYt {
    width: 70%;
  }
  /* termina responsive index */
}
@media (max-width: 980px) {
  body {
    font-size: 14px;
  }
  /* inicia responsive index */
  #caracteristicas .p {
    font-size: 1.4em;
  }
  #quienesSomos #monkeImg {
    width: 30%;
  }
  /* termina responsive index */
  /* inicia responsive temas */
  .temasContainer #gridSp {
    width: 90%;
  }
  /* termina responsive temas */
}
@media (max-width: 830px) {
  #caracteristicas .p {
    font-size: 1.2em;
  }
  /* inicia responsive contacto */
  #tarjetasContainer {
    flex-direction: column;
    align-items: center;
    margin: 40px 0px;
  }
  #tarjetasContainer .tarjetaContacto {
    margin-top: 20px;
  }
  /* termina responsive contacto */
  /* inicia responsive temas */
  .temasContainer #gridSp {
    grid-template-columns: auto auto;
  }
  .temasContainer #gridSp iframe:last-child {
    grid-column: 1/span 2;
  }
  .temasContainer #gridYt {
    width: 80%;
  }
  /* termina responsive temas */
  /* inicia responsive miembros */
  #miembrosContainer {
    width: 95%;
    gap: 0px 15px;
  }
  #miembrosContainer .p {
    margin: 0px 25px;
  }
  /* termina responsive miembros */
}
@media (max-width: 660px) {
  .titleh1 {
    font-size: 3.2em;
  }
  /* inicia responsive index */
  #quienesSomos ul {
    justify-content: center;
    width: 40%;
  }
  #quienesSomos ul li {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
  }
  #quienesSomos ul li a img {
    width: 12vw;
  }
  #quienesSomos #monkeImg {
    width: 40%;
  }
  #caracteristicas .p {
    font-size: 1.5em;
  }
  #caracteristicas article .bgColor {
    flex-direction: column;
  }
  #caracteristicas article .bgColor img {
    width: 100%;
    max-width: none;
    height: 40vh;
  }
  #caracteristicas article .bgColor .caracText {
    text-align: center;
  }
  /* termina responsive index */
  /* inicia responsive contacto */
  #formContacto input {
    grid-column: 1/span 2;
  }
  /* termina responsive contacto */
  /* inicia responsive temas */
  .temasContainer #gridYt {
    gap: 10px;
  }
  .temasContainer #gridYt #reproductor {
    margin-bottom: 15px;
  }
  /* termina responsive temas */
  /* inicia responsive miembros */
  #miembrosContainer {
    width: 70%;
  }
  #miembrosContainer .miembrosRotulo {
    width: 70%;
  }
  #miembrosContainer .p {
    margin: 0px;
    font-size: 1.3em;
  }
  #miembrosContainer .miembro {
    grid-column: span 4;
  }
  #miembrosContainer #exmonkisContainer .exmonki img {
    width: 9em;
  }
  #miembrosContainer #exmonkisContainer .exmonki span {
    font-size: 1.4em;
  }
  /* termina responsive miembros */
}
@media (max-width: 520px) {
  /* inicia responsive temas */
  .temasContainer #gridSp {
    grid-template-columns: auto;
  }
  .temasContainer #gridSp iframe:nth-child(5), .temasContainer #gridSp iframe:nth-child(6) {
    display: none;
  }
  .temasContainer #gridSp iframe:last-child {
    grid-column: 1/1;
  }
  .temasContainer #gridYt {
    width: 90%;
  }
  .temasContainer #gridYt #reproductor {
    margin-bottom: 10px;
  }
  /* termina responsive temas */
  /* inicia responsive miembros */
  #miembrosContainer {
    width: 85%;
  }
  /* termina responsive miembros */
}
@media (max-width: 460px) {
  .titleh1 {
    font-size: 2.5em;
  }
}
@media (max-width: 430px) {
  /* inicia responsive miembros */
  #miembrosContainer .miembroPrinc .miembroInfo div img {
    width: 2.4em;
  }
  #miembrosContainer .miembroSec .miembroInfo div .redsocialBtn {
    width: 2.4em;
    height: 2.4em;
  }
  #miembrosContainer .miembroSec .miembroInfo div .redsocialBtn img {
    width: 2.4em;
    height: 2.4em;
  }
  #miembrosContainer .miembroSec .miembroInfo div .insignia img {
    width: 2.4em;
    height: 2.4em;
  }
  #miembrosContainer #exmonkisContainer .exmonki {
    padding: 10px 10px;
  }
  #miembrosContainer #exmonkisContainer .exmonki img {
    width: 7em;
  }
  #miembrosContainer #exmonkisContainer .exmonki span {
    font-size: 1.2em;
    margin-top: 5px;
  }
  /* termina responsive miembros */
}
@media (max-width: 340px) {
  .titleh1 {
    font-size: 2em;
  }
  /* inicia responsive index */
  #quienesSomos ul {
    justify-content: center;
    width: 60%;
  }
  #quienesSomos ul li a img {
    width: 20vw;
  }
  /* termina responsive index */
  /* inicia responsive contacto */
  #tarjetasContainer .tarjetaContacto i {
    font-size: 3em;
  }
  #tarjetasContainer .tarjetaContacto span {
    font-size: 2em;
  }
  #tarjetasContainer .tarjetaContacto p {
    font-size: 1em;
  }
  /* termina responsive contacto */
  /* inicia responsive miembros */
  #miembrosContainer .p {
    font-size: 1em;
    margin-bottom: 15px;
  }
  #miembrosContainer #exmonkisContainer {
    width: 100%;
  }
  #miembrosContainer #exmonkisContainer .exmonki {
    padding: 8px 8px;
    margin: 10px 10px;
    max-width: 100px;
  }
  #miembrosContainer #exmonkisContainer .exmonki img {
    width: 6em;
  }
  #miembrosContainer #exmonkisContainer .exmonki span {
    font-size: 1.1em;
    margin-top: 5px;
    text-align: center;
  }
  /* termina responsive miembros */
}
@media (max-width: 290px) {
  .titleh1 {
    font-size: 1.5em;
  }
  /* inicia responsive contacto */
  #tarjetasContainer .tarjetaContacto {
    padding: 10px 15px;
  }
  #tarjetasContainer .tarjetaContacto i {
    font-size: 2em;
  }
  #tarjetasContainer .tarjetaContacto span {
    font-size: 1.5em;
  }
  #tarjetasContainer .tarjetaContacto p {
    font-size: 0.8em;
  }
  #tarjetasContainer #formContacto form {
    width: 100%;
  }
  /* termina responsive contacto */
  /* inicia responsive miembros */
  #miembrosContainer {
    width: 95%;
  }
  /* termina responsive miembros */
}/*# sourceMappingURL=main.css.map */